In [2]:
import sqlite3

In [3]:
con = sqlite3.connect("chinook.db")

In [4]:
cur = con.cursor()

In [5]:
query = """ Select name from sqlite_master where type = "table" """

In [6]:
res = cur.execute(query)

In [7]:
print(res)

<sqlite3.Cursor object at 0x0000017C194246C0>

In [8]:
res.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [9]:
con.close()

In [11]:
import sqlite3

In [12]:
con = sqlite3.connect("players.db")

In [13]:
cura = con.cursor()

In [14]:
q = "create table Players (ID integer primary key,Name text,sport text,Country text,DOB text)"

In [15]:
cura.execute(q)

In [16]:
con.commit()

In [17]:
q = "insert into Players values (01,'Sachin','Cricket','India','07-Aug-1969')"

In [18]:
cura.execute(q)

In [19]:
con.commit()

In [21]:
q = "insert into Players (ID,Name,sport,Country,DOB) values(?,?,?,?,?)"

In [22]:
cura.execute(q, [2,"Dravid","Cricket","India","12-Jan-1970"])

In [23]:
con.commit()

In [24]:
lista = []

In [26]:
lista.append([3,"Shewag","Cricket","India","17-Oct-1972"])

In [28]:
lista.append([4,"Yuvraj Singh","Cricket","India","23-Dec-1979"])

In [29]:
cura.executemany(q,tuple(lista))

In [30]:
con.commit()

In [66]:
q = "select * from Players"

In [67]:
cura.execute(q)

In [68]:
import time
for i in list(enumerate(cura.fetchall(),1)):
    print(list(i))
    time.sleep(1)

[1, (1, 'Sachin', 'Cricket', 'India', '07-Aug-1969')]
[2, (2, 'Dravid', 'Cricket', 'India', '12-Jan-1970')]
[3, (3, 'Shewag', 'Cricket', 'India', '17-Oct-1972')]
[4, (4, 'Yuvraj Singh', 'Cricket', 'India', '23-Dec-1979')]